/* animation sets */
/* move to  */
/* line 4, ../_sass/animations.scss */
.pt-page-moveToTop {
  -webkit-animation: moveToTop .6s ease both;
  -moz-animation: moveToTop .6s ease both;
  animation: moveToTop .6s ease both;
}

/* scale */
/* line 11, ../_sass/animations.scss */
.pt-page-scaleUp {
  -webkit-animation: scaleUp .7s ease both;
  -moz-animation: scaleUp .7s ease both;
  animation: scaleUp .7s ease both;
}

/********************************* keyframes **************************************/
/* move to */
@-webkit-keyframes moveToTop {
  /* line 21, ../_sass/animations.scss */
  to {
    -webkit-transform: translateY(-100%);
  }
}

@-moz-keyframes moveToTop {
  /* line 24, ../_sass/animations.scss */
  to {
    -moz-transform: translateY(-100%);
  }
}

@keyframes moveToTop {
  /* line 27, ../_sass/animations.scss */
  to {
    transform: translateY(-100%);
  }
}

/* scale */
@-webkit-keyframes scaleUp {
  /* line 33, ../_sass/animations.scss */
  from {
    opacity: 0;
    -webkit-transform: scale(0.8);
  }
}

@-moz-keyframes scaleUp {
  /* line 36, ../_sass/animations.scss */
  from {
    opacity: 0;
    -moz-transform: scale(0.8);
  }
}

@keyframes scaleUp {
  /* line 39, ../_sass/animations.scss */
  from {
    opacity: 0;
    transform: scale(0.8);
  }
}
