/* line 1, ../_sass/component.scss */
html, body {
  height: 100%;
}

/* line 3, ../_sass/component.scss */
.pt-perspective {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
}

/* line 12, ../_sass/component.scss */
.pt-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* line 32, ../_sass/component.scss */
.pt-page-current,
.no-js .pt-page {
  visibility: visible;
  z-index: 1;
}

/* line 37, ../_sass/component.scss */
.no-js body {
  overflow: auto;
}

/* line 41, ../_sass/component.scss */
.pt-page-ontop {
  z-index: 999;
}

/* Text Styles, Colors, Backgrounds */
/* line 47, ../_sass/component.scss */
.pt-page h1 {
  position: absolute;
  font-weight: 300;
  font-size: 4.4em;
  line-height: 1;
  letter-spacing: 6px;
  margin: 0;
  top: 12%;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  word-spacing: -0.3em;
}

/* line 61, ../_sass/component.scss */
.pt-page h1 span {
  font-family: 'Satisfy', serif;
  font-weight: 400;
  font-size: 40%;
  text-transform: none;
  word-spacing: 0;
  letter-spacing: 0;
  display: block;
  opacity: 0.4;
}

/* line 72, ../_sass/component.scss */
.pt-page h1 strong {
  color: rgba(0, 0, 0, 0.1);
}

/* line 76, ../_sass/component.scss */
.pt-page-1 {
  background: #0ac2d2;
}

/* line 80, ../_sass/component.scss */
.pt-page-2 {
  background: #7bb7fa;
}

/* Triggers (menu and button) */
/* line 86, ../_sass/component.scss */
.pt-triggers {
  position: absolute;
  width: 300px;
  z-index: 999999;
  top: 12%;
  left: 50%;
  margin-top: 130px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* line 99, ../_sass/component.scss */
.no-js .pt-triggers {
  display: none;
}

/* line 103, ../_sass/component.scss */
.pt-touch-button {
  border: none;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 999999;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 125, ../_sass/component.scss */
.pt-touch-button {
  background: #fff;
  color: #aaa;
}

/* line 130, ../_sass/component.scss */
.pt-message {
  display: none;
  position: absolute;
  z-index: 99999;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #da475c;
  color: #fff;
  text-align: center;
}

/* line 142, ../_sass/component.scss */
.pt-message p {
  margin: 0;
  line-height: 60px;
  font-size: 26px;
}

/* line 148, ../_sass/component.scss */
.no-cssanimations .pt-message {
  display: block;
}

@media screen and (max-width: 47.4375em) {
  /* line 153, ../_sass/component.scss */
  .pt-page h1 {
    font-size: 3em;
  }

  /* line 157, ../_sass/component.scss */
  .pt-triggers .dl-menuwrapper {
    display: none;
  }
}
@media screen and (max-height: 45.9em) {
  /* line 163, ../_sass/component.scss */
  .pt-triggers .dl-menuwrapper li a {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  /* line 167, ../_sass/component.scss */
  .pt-triggers .dl-menuwrapper li.dl-back:after, .dl-menuwrapper li > a:not(:only-child):after {
    line-height: 24px;
  }
}
@media screen and (max-height: 38em) {
  /* line 173, ../_sass/component.scss */
  .pt-triggers .dl-menuwrapper {
    display: none;
  }
}
