.foot{
	position: relative;
	display: inline-block;
	width: 100%;
}

.foot p{
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 5%;
	margin-right: 5%;
	font-family: "vollkornitalic", "Arial", sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	text-align: justify;
}

.foot a{
	text-decoration: none;
	color: #000;
	background-color: rgb(223, 242, 255);
}
.foot a:hover, .foot a:focus{
	text-decoration: none;
}