.foot{
	position: relative;
	margin-bottom: 5%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	bottom: 0px;
	width: 60%;
}

.foot p{
	margin-top: 50px;
	margin-bottom: 50px;
	font-family: "vollkornitalic", "Arial", sans-serif;
	font-size: 1em;
	text-align: center;
}

.foot a{
	text-decoration: none;
	color: #000;
	background-color: rgb(223, 242, 255);
}
.foot a:hover, .foot a:focus{
	text-decoration: none;
}
