/* line 1, ../_sass/header.scss */
#header h1 {
  font-family: "kingthings_gothiqueregular", "Arial", sans-serif;
  word-spacing: normal;
  text-align: left;
  margin-top: 5%;
  margin-bottom: auto;
}

#header {
  /*border: 2px solid purple;*/
  font-size: 2em;
  height: 10%;
}
