/* line 1, ../_sass/header.scss */
#header h1 {
  background: #6ba4ea;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZiYTRlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2Q2ODQ4NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhZjkxYzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, #6ba4ea 0%, #d68486 49%, #af91c6 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #6ba4ea), color-stop(49%, #d68486), color-stop(100%, #af91c6));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #6ba4ea 0%, #d68486 49%, #af91c6 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #6ba4ea 0%, #d68486 49%, #af91c6 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #6ba4ea 0%, #d68486 49%, #af91c6 100%);
  /* IE10+ */
  background: linear-gradient(to right, #6ba4ea 0%, #d68486 49%, #af91c6 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6ba4ea', endColorstr='#af91c6',GradientType=1 );
  /* IE6-8 */
  background-size: cover;
  color: #fff;
  text-align: left;
  /* -webkit-background-clip clips the background of the element to the text */
  -webkit-text-fill-color: transparent;
  /* overrides the white text color in webkit browsers */
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-family: "OxygeneRegular", "Arial", sans-serif;
  font-size: 6em;
  margin-left: 50px;
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
}
