#main {
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	/*border: 2px solid red;*/
}

#home{
	position: relative;
  	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 0 1em;
	max-width: 700px;
}

#posts {
	margin-top: 25px;
	/*border: 2px solid yellow;*/
}

.time {
	background-color: rgb(52, 90, 123);
	color: #fff;
	border-radius: 4px;
	border-radius: 0.25rem;
	padding: 0px 3px 2px 3px;
	/* Make sure that the rule is written out only once in case there is no rem substitution */
	padding: 0px 0.1875rem 0.125rem 0.1875rem;
	position: relative;
}

.content {
  	text-align: justify;
  	padding-bottom: 5px;
  	font-family: "vollkornregular", "Arial", sans-serif;

  	margin: 0;
	font-size: 1em;
	line-height: 1.5em;
}

.footer {
  text-align: right;
}

@media screen and (min-width: 47.5em ) {
	#main {width: 75%}
}

.title {
	margin-top: 24px;
  	margin-top: 1.5rem;
  	margin-bottom: 24px;
  	margin-bottom: 1.5rem;
  	font-style: normal;
  	text-align: left;
}

.title {
	font-family: "vollkornbold", "Arial", sans-serif;
}

.title > a {
	text-decoration: none;
	color: #000;
}