.main {
	display: block;
	position: relative;
	top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	/*border: 2px solid purple;*/
}

.main h2 {
	font-family: "kingthings_gothiqueregular", "Arial", sans-serif;
	word-spacing: normal;
	font-size: 2em;
	text-align: center;
}

#blog h2 { color: #3F51B5; }
#projects h2 { color: #E91E63; }
#about h2 { color: #FFC107; }

#blog { text-align: center; }
#projects { text-align: center; }
#about { text-align: center; }

.main > div { margin-top: 24px; }

#posts {
	display: inline-block;
	vertical-align: top;
	line-height: 1.5em;
	text-align: center;
	/*border: 2px solid purple;*/
}

.post {
position: relative;
display: block;
}

#posts li{
	padding-bottom: 2%;
}

.time {
	font-family: "vollkornitalic", "Arial", sans-serif;
}

.tag {
	font-family: "vollkornregular", "Arial", sans-serif;
	background-color: #3F51B5;
	color: #fff;
	border-radius: 4px;
	border-radius: 0.25rem;
	padding: 0px 3px 2px 3px;
	/* Make sure that the rule is written out only once in case there is no rem substitution */
	padding: 0px 0.1875rem 0.125rem 0.1875rem;
}

/*.content {
  	text-align: justify;
  	font-family: "vollkornregular", "Arial", sans-serif;
  	margin: 0;
	font-size: 1em;
	line-height: 1.5em;
}*/

.footer {
  text-align: right;
}

.author {
	font-style: normal;
	font-family: "vollkornitalic", "Arial", sans-serif;
}

.title {
	font-family: "vollkornbold", "Arial", sans-serif;
	text-decoration: none;
	color: #000;
}

.excerpt-link a{
	text-decoration: none;
	color: grey;
}

.about{
	text-align: left;
}

#about p {
	font-family: "vollkornitalic", "Arial", sans-serif;
}

#introduction p {
	width: 50%;
	text-align: justify;
}

#introduction p, #introduction img{
	display: inline-block;
	vertical-align: middle;
}

#about .foot{
	width: 80%;
}

.main h1 > a {text-decoration: none; color: #000;}

/*@media screen and (min-width: 47.5em ) {
	.main {width: 100%; top: 0;}
	.about {margin-bottom: 5%; height: auto; visibility: visible;}
}*/
