/* line 1, ../_sass/home.scss */
html, body {
  height: 100%;
}

/* line 3, ../_sass/home.scss */
.pt-perspective {
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
}

/* line 12, ../_sass/home.scss */
.pt-page-1 {
  top: 0;
  left: 0;
  /* Preserve aspet ratio */
  width: 100%;
  height: 100%;
}

/* line 21, ../_sass/home.scss */
.pt-page {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* line 40, ../_sass/home.scss */
.pt-page-current,
.no-js .pt-page {
  visibility: visible;
  z-index: 1;
}

/* line 45, ../_sass/home.scss */
.no-js body {
  overflow: auto;
}

/* line 49, ../_sass/home.scss */
.pt-page-ontop {
  z-index: 999;
}

/* Text Styles, Colors, Backgrounds */
/* line 55, ../_sass/home.scss */
.pt-page h1 {
  position: absolute;
  font-weight: 300;
  font-size: 4.4em;
  line-height: 1;
  letter-spacing: 6px;
  margin: 0;
  top: 12%;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  word-spacing: -0.3em;
}

/* line 69, ../_sass/home.scss */
.pt-page h1 span {
  font-family: 'Satisfy', serif;
  font-weight: 400;
  font-size: 40%;
  text-transform: none;
  word-spacing: 0;
  letter-spacing: 0;
  display: block;
  opacity: 0.4;
}

/* line 80, ../_sass/home.scss */
.pt-page h1 strong {
  color: rgba(0, 0, 0, 0.1);
}

/* Triggers (menu and button) */
/* line 86, ../_sass/home.scss */
.no-js .pt-triggers {
  display: none;
}

/* line 90, ../_sass/home.scss */
.pt-message {
  display: none;
  position: absolute;
  z-index: 99999;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  text-align: center;
}

/* line 101, ../_sass/home.scss */
.pt-message p {
  margin: 0;
  line-height: 60px;
  font-size: 26px;
}

/* line 107, ../_sass/home.scss */
.no-cssanimations .pt-message {
  display: block;
}

@media screen and (max-width: 47.4375em) {
  /* line 112, ../_sass/home.scss */
  .pt-page h1 {
    font-size: 3em;
  }
}
