#main {
	position: absolute;
	right: 0;
	top: 10px;
	width: 100%;
}

#home{
	position: relative;
  	display: block;
}

#posts {
	margin-top: 5%;
}

#posts li{
	padding-bottom: 2%;
}

.time {
	background-color: rgb(52,90,123);
	font-family: "vollkornregular", "Arial", sans-serif;
	color: #fff;
	border-radius: 4px;
	border-radius: 0.25rem;
	padding: 0px 3px 2px 3px;
	/* Make sure that the rule is written out only once in case there is no rem substitution */
	padding: 0px 0.1875rem 0.125rem 0.1875rem;
	position: relative;
}

.content {
  	text-align: justify;
  	font-family: "vollkornregular", "Arial", sans-serif;
  	margin: 0;
	font-size: 1em;
	line-height: 1.5em;
}

.footer {
  text-align: right;
}

.title {
	display: inline-block;
	vertical-align: middle;
	line-height: 1.5em;
  	font-style: normal;
  	text-align: left;
  	/*border: 1px solid green;*/
}

.icon {
	display: inline-block;
	vertical-align: middle;
	width: 5%;
	/*border: 1px solid red;*/
}

.author {
	text-align: right;
	font-style: normal;
	font-family: "vollkornitalic", "Arial", sans-serif;
}

.title {
	font-family: "vollkornbold", "Arial", sans-serif;
}

.title > a {
	text-decoration: none;
	color: #000;
}

.excerpt-link a{
	text-decoration: none;
	color: grey;
}

.about{
	text-align: left;
}

@media screen and (min-width: 47.5em ) {
	#main {width: 75%; top: 0;}
	.about {margin-bottom: 5%; height: auto; visibility: visible;}
}

