#sidebar {
	position: fixed;
	display: block;
	top: 0;
	bottom: 0;
    /*border: 2px solid green;*/
    height: 100%;
    width: 25%;
    visibility: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 47.5em ) {
	#sidebar {visibility: visible;}
}