#sidebar {
	position: fixed;
	display: block;
	top: 0;
	bottom: 0;
    /*border: 2px solid green;*/
    height: 5%;
    width: 100%;
    z-index: 10;
}

#sidebar > img {
	visibility: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 47.5em ) {
	#sidebar {width: 25%; height: 100%; text-align: left;}
	#sidebar > img {visibility: visible;}
	.nav {margin: auto; text-align: center;}
}

.nav {
	background-color: #fff;
	position: relative;
	display: block;
	width: 100%;
}

.projects > a, .blog > a, .about > a, .blog-current{
	text-decoration: none;
	font-family: "good_footregular", "Arial", sans-serif;
	font-size: 2em;
	line-height: 1.5em;
	margin: 4px;
	padding: 0px 3px 2px 3px;
	padding: 0px 0.1875rem 0.125rem 0.1875rem;
	position: relative;
}

.blog > a{
	color: rgb(52,90,123);
}

.about > a{
	color: rgb(132,74,145);
}

.projects > a{
	color: rgb(253,79,76);
}

.blog > a:hover, .blog > a:focus, 
.about > a:hover, .about > a:focus, 
.projects > a:hover, .blog > a:focus{
	color: #fff;
	border-radius: 4px;
	border-radius: 0.25rem;
}

.blog > a:hover, .blog > a:focus{
	background-color: rgb(52,90,123);
}

.about > a:hover, .about > a:focus{
	background-color: rgb(132,74,145);
}

.projects > a:hover, .projects > a:focus{
	background-color: rgb(253,79,76);
}
.blog-current{
	background-color: rgb(52,90,123);
	color: #fff;
	border-radius: 4px;
	border-radius: 0.25rem;
}