#sidebar {
	position: fixed;
	display: block;
	top: 0;
	bottom: 0;
    height: 2.5em;
    width: 100%;
	z-index: 1;
	overflow: hidden;
}

#sidebar > img {
	visibility: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

.nav {
	background-color: #fff;
	position: relative;
	display: block;
	text-align: left;
	margin-left: 5%;
}

.nav span {
	font-family: "good_footregular", "Arial", sans-serif;
	font-size: 1.5em;
	line-height: 1.5em;
}

@media screen and (min-width: 47.5em ) {
	#sidebar {width: 25%; height: 100%;}
	#sidebar > img {visibility: visible;}
	.nav {margin: auto; text-align: center; }
	.nav span {font-size: 2em;}
}

.projects > a, .blog > a, .music > a,
.blog-current{
	text-decoration: none;
	margin: 4px;
	padding: 0px 3px 2px 3px;
	padding: 0px 0.1875rem 0.125rem 0.1875rem;
	position: relative;
}

.blog > a{
	color: rgb(52,90,123);
}

.music > a{
	color: rgb(132,74,145);
}

.projects > a{
	color: rgb(253,79,76);
}

.blog > a:hover, .blog > a:focus, 
.music > a:hover, .music > a:focus, 
.projects > a:hover{
	color: #fff;
	border-radius: 4px;
	border-radius: 0.25rem;
}

.blog > a:hover, .blog > a:focus{
	background-color: rgb(52,90,123);
}

.music > a:hover, .music > a:focus{
	background-color: rgb(132,74,145);
}

.projects > a:hover, .projects > a:focus{
	background-color: rgb(253,79,76);
}

.blog-current{
	background-color: rgb(52,90,123);
	color: #fff;
	border-radius: 4px;
	border-radius: 0.25rem;
}