#sidebar {
	position: absolute;
	width: 100%;
	left: 0px;
	z-index: 1;
	overflow: hidden;
	text-align: center;
}

#sidebar nav {
	position: relative;
	display: inline-block;
	width: 80%;
	height: auto;
}

#sidebar nav span a{
	display: inline-block;
	font-family: "vollkornregular", "Arial", sans-serif;
	font-size: 16px;
	line-height: 20px;
	margin-top: 2px;
	border-radius: 8px;
	text-decoration: none;
	padding: 0px 4px 3px 4px;
	color: #fff;
}

/*@media screen and (min-width: 47.5em ) {
	#sidebar {width: 25%; height: 100%;}
	#sidebar > img {visibility: visible;}
	nav {margin: auto; text-align: center; }
	nav span {font-size: 1.2em;}
}*/

.site-name > a{
	background-color: #424242;
}

.contact > a{
	background-color: #FFF176;
}

.contact > a:hover, .contact > a:focus{
	background-color: #424242;
}

.projects > a{
	background-color: #E57373;
}

.projects > a:hover, .projects > a:focus{
	background-color: #424242;
}

.blog > a{
	background-color: #9FA8DA;
}

.blog > a:hover, .blog > a:hover{
	background-color: #424242;
}

#main-img {
	position: absolute;
	margin: auto;
	display: block;
	bottom: 40%;
	max-width: 100%;
	height: auto;
}
