---
layout: default
title: standards of one underground living
---
<div id="main" class="pt-perspective">
	<div class="pt-page pt-page-1">
		{% include header.html %}
		<button id="iterateEffects" class="pt-touch-button">BLOG</button>
	</div>
	<div class="pt-page pt-page-2">
		<ul id="posts">
		    {% for post in site.posts %}
		      <li class="post">
		      	<a class="post-title" href="{{ post.url }}">{{ post.title }}</a><br/>
		      	<div class="post-content">{{ post.content }}</div>
		      	<div class="post-footer">
		      		{{ post.date | date_to_string }}
		      	</div>
		      </li>
		    {% endfor %}
	  	</ul>
	</div>
</div>

<div class="pt-message">
	<p>Your browser does not support CSS animations.</p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/js/pagetransitions.js"></script>