---
layout: default
title: standards of one underground living
---
{% include sidebar.html %}
<div id="main">
	<div id="home">
		{% include header.html %}
		<ul id="posts">
		    {% for post in site.posts %}
		      <li class="post">
		      		<div class="title">
		      			<span class="time">{{ post.date | date_to_string }}</span>
		      			<a href="{{ post.url }}">{{ post.title }}</a>
		      		</div>
		      		<div class="content">{{ post.content }}</div>
		      		<div class="footer">
		      	</div>
		      </li>
		    {% endfor %}
	  	</ul>
	</div>
</div>