		<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="../js/jquery.poshytip.min.js"></script>
		<script type="text/javascript">
		//<![CDATA[
		$(function(){
			$('#tipped').poshytip({
				className: 'tip-twitter',
				content: '<p class="about">I am a student in computer science, an art lover and I make some stuff about programming, music and movies during my free time.</br>I love sharing and discussing about these stuffs in order to improve my open minded behavior and my experience of this world.</p>',
				alignX: 'center',
				alignY: 'bottom',
				showTimeout: 1,
				followCursor: true,
				fade: false,
				slide: false
			});
		});
		//]]>
	</script>
	</body>
</html>