<div class="sidebar container">
  <h1>
    <a href="{{ site.baseurl }}">
      {{ site.title }}
    </a>
  </h1>
  <img src="{{ site.baseurl }}/img/vlnk.svg" alt="Hello!">

  <footer>
    <p class="footer-separator">***</p>
    Hi everybody, I introduce you my blog! I hope you will enjoy it. I will share here some works and thoughts about everything I love. Have a look at my <a class="code" href="https://github.com/vlnk">Github</a> for my open source works, my <a class="music" href="https://soundcloud.com/vlnk">Soundcloud</a> where I share all stuffs I appreciate and sometimes those I make by myself and my <a class="video" href="https://vimeo.com/user3599832/videos">Vimeo</a> where I promise sharing my next videos.
    </br>
    You can keep in touch with me on public networks by checking my <a href="https://keybase.io/vlnk">Keybase</a>  or by lauthing together on <a href="https://twitter.com/v_vlnk">Twitter</a>. Have a look at my <a class="about" href="https://www.dropbox.com/s/rkmbo1d1zr4gss5/blank-en.pdf?dl=0">resume</a> (<a class="about" href="https://www.dropbox.com/s/olt66ufelvyi62b/blank-fr.pdf?dl=0">en français</a>) and don't hesitate to send me a message at <a class="about" href="mailto:vlnk@icloud.com">vlnk@icloud.com</a>.
    <p class="footer-separator">***</p>
  </footer>

</div>
