<div class="sidebar container">
  <div class="content">
    <h1 class="title">
      <a href="{{ site.url }}">
        {{ site.title }}
      </a>
    </h1>
    <img src="{{ site.baseurl }}/img/vlnk.svg" alt="Hello!">

    <footer>
      <h2>follow me</h2>
      <ul class="work list">
        <li class="code"><a href="https://github.com/vlnk">GitHub</a></li>
        <li class="music"><a href="https://soundcloud.com/vlnk">Soundcloud</a></li>
        <li class="video"><a href="">Vimeo</a></li>
      </ul>
      <ul class="social list">
        <li class="blog"><a href="https://twitter.com/v_vlnk">Twitter</a></li>
        <li class="blog"><a href="https://keybase.io/vlnk">Keybase</a></li>
      </ul>
      <h2>write me</h2>
      <ul class="contact list">
        <li class="about"><a href="mailto:vlnk@icloud.com">vlnk@icloud.com</a></li>
        <li class="about"><a href="https://www.dropbox.com/s/rkmbo1d1zr4gss5/blank-en.pdf?dl=0">resume</a></li>
      </ul>
      <p><em>all this work is under BSD licence</em></p>
    </footer>
  </div>
</div>
