$filter-colors: (
  blog: #FFCF9C,
  code: #A4D4B4,
  music: #FB4E06,
  video: #CA054D,
  about: #3B1C32,
  search: #3B1C32,
  warning: red
);

@mixin getMenuClass ($name, $color) {
  li.#{$name} {
    color: $color;
    border-style: solid;
    border-color: $color;
    cursor:pointer;

    &:hover {
      color: white;
      background-color: $color;

      @if ($name == "search") {
        svg { path { fill: white; } }
      }
    }
  }
}

@function getFilterColor($filter, $filter-colors) {
  @return nth(map-values($filter-colors), index(map-keys($filter-colors), $filter));
}

@mixin getFooterLinkStyle($name, $color) {
  a.#{$name} {
    text-decoration: none;
    color: $color;
    padding: 4px;

    &:hover {
      color: white;
      background-color: $color;
    }
  }
}

@mixin getMainListStyle() {
  li {
    line-height: 2em;
    //margin-bottom: 0.4em;
    font-size: $base-font-size * 1.2;
    display: inline-block;

    padding: 0.1em;
    margin: 0;
    overflow: hidden;
    backface-visibility: hidden;

    a {
      display: block;

      text-decoration: none;
      color: inherit;
      height: 2em;
    }
  }
}
