$filter-colors: (
  blog: #FFCF9C,
  code: #A4D4B4,
  music: #FB4E06,
  video: #CA054D,
  about: #3B1C32
);

@mixin getMenuClass ($name, $color) {
  a.#{$name} {
    color: $color;
    border-style: solid;
    border-color: $color;

    &:hover {
      color: white;
      background-color: $color;
    }
  }

  a.#{$name} + .opened {
    border-style: solid;
    border-color: $color;
  }

  div.#{$name} {
    border-style: solid;
    border-top: none;
    border-color: $color;

    @if ($name == 'music' or $name == 'video') {
      line-height: 0;
    }
  }
}

@function getFilterColor($filter, $filter-colors) {
  @return nth(map-values($filter-colors), index(map-keys($filter-colors), $filter));
}

@mixin getFooterLinkStyle($name, $color) {
  a.#{$name} {
    text-decoration: none;
    color: $color;
    padding: 4px;

    &:hover {
      color: white;
      background-color: $color;
    }
  }
}
