nav { padding-bottom: 1rem; }

nav {
  text-align: center;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display:inline;
      margin: 0;

      @each $filter in map-keys($filter-colors) {
        @include getColor($filter, $filter-colors);
      }

      a { font-size: $small-font-size; }
    }
  }
}

header {
  text-align: center;
  padding-bottom: 1rem;
  margin: 0;
  padding: 0;
  font-size: $small-font-size;
}
