.sidebar {
  text-align: center;
  color: rgba(255,255,255,.5);

  a, p {
    color: black;
  }

  h1, h2, ul { margin: 0; }

  h1 {
    color: black;
    font-size: $small-font-size;
    text-align: center;
  }

  h2 {
    font-size: $small-font-size * 0.9;
  }

  footer {
    position: relative;
    bottom: 0;
    height: 100%;
    text-align: center;
    color: black;
    font-size: $base-font-size;
    font-family: $base-font-family;

    em {
      font-size: $base-font-size * 0.8;
    }

    @each $filter in map-keys($filter-colors) {
      $color: getFilterColor($filter, $filter-colors);
      @include getFooterLinkStyle($filter, $color);
    }
  }
}
