.wrapper {
  padding-top:    0.4rem;
  padding-bottom: 0.4rem;
}

.sidebar {
  background-color: white;

  .content {
    padding: 0.4rem;
  }
}

@media (min-width: 48em) {
  .wrapper {
    margin-left: 20rem;
    margin-right: 0;
  }

  .sidebar {
    position: fixed;
    width: 18rem;
    height: 100%;
    top: 0;
    left: 0;

    .content {
      margin: 0 auto;
      padding: 2rem 1rem;
    }
  }
}
