.wrapper {
  padding-top:    1rem;
  padding-bottom: 1rem;
}

@media (min-width: 48em) {
  .wrapper {
    //max-width: 38rem;
    margin-left: 20rem;
    margin-right: 0;
  }
}

@media (min-width: 64em) {
  .wrapper {
    margin-left: 22rem;
    margin-right: 2rem;
  }
}
