/*
 * font.css
 * FONTS' DEFINITIONS
*/

@font-face {
    font-family: 'kingthings_gothiqueregular';
    src: url('Kingthings_Gothique-webfont.eot');
    src: url('Kingthings_Gothique-webfont.eot?#iefix') format('embedded-opentype'),
         url('Kingthings_Gothique-webfont.woff') format('woff'),
         url('Kingthings_Gothique-webfont.ttf') format('truetype'),
         url('Kingthings_Gothique-webfont.svg#kingthings_gothiqueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'vollkornregular';
    src: url('vollkorn-regular-webfont.eot');
    src: url('vollkorn-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('vollkorn-regular-webfont.woff2') format('woff2'),
         url('vollkorn-regular-webfont.woff') format('woff'),
         url('vollkorn-regular-webfont.ttf') format('truetype'),
         url('vollkorn-regular-webfont.svg#vollkornregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'vollkornitalic';
    src: url('vollkorn-italic-webfont.eot');
    src: url('vollkorn-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('vollkorn-italic-webfont.woff2') format('woff2'),
         url('vollkorn-italic-webfont.woff') format('woff'),
         url('vollkorn-italic-webfont.ttf') format('truetype'),
         url('vollkorn-italic-webfont.svg#vollkornitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'vollkornbold_italic';
    src: url('vollkorn-bolditalic-webfont.eot');
    src: url('vollkorn-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('vollkorn-bolditalic-webfont.woff2') format('woff2'),
         url('vollkorn-bolditalic-webfont.woff') format('woff'),
         url('vollkorn-bolditalic-webfont.ttf') format('truetype'),
         url('vollkorn-bolditalic-webfont.svg#vollkornbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'vollkornbold';
    src: url('vollkorn-bold-webfont.eot');
    src: url('vollkorn-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('vollkorn-bold-webfont.woff2') format('woff2'),
         url('vollkorn-bold-webfont.woff') format('woff'),
         url('vollkorn-bold-webfont.ttf') format('truetype'),
         url('vollkorn-bold-webfont.svg#vollkornbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'good_footregular';
    src: url('goodfoot-webfont.eot');
    src: url('goodfoot-webfont.eot?#iefix') format('embedded-opentype'),
         url('goodfoot-webfont.woff') format('woff'),
         url('goodfoot-webfont.ttf') format('truetype'),
         url('goodfoot-webfont.svg#good_footregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
